@import "tailwindcss";

:root {
  --dark-green: #4F5B45;
  --off-white: #F1F1F1;

  --primary-text: black;
  --secondary-text: white;

  --primary-background: var(--off-white);
  --secondary-background: var(--dark-green);

  --primary-accent: var(--dark-green);
  --secondary-accent: var(--off-white);

  --header-height: 5rem;
  --bottom-page-navigator-height: 1.5rem;
  --bottom-navigation-height: 3rem;

  --underline-fade-duration: 0.15s;
  --label-fade-duration: 0.3s;
}

@media (min-width: 1024px) {
  :root {
    --header-height: 5rem;
  }
}

@font-face {
  font-family: 'JejuMyeongjo-Regular';
  src: url('https://www.wfonts.com/data/2016/05/04/jejumyeongjo/JejuMyeongjo-Regular.ttf') format('ttf');
  font-display: optional;
}

html,
body {
  height: 100%;
  color: var(--primary-text);
  background-color: var(--primary-background);
  font-family: 'JejuMyeongjo-Regular', serif;
  scroll-behavior: smooth;
}


@keyframes primary-underline-fade-in {
  from {
    text-decoration-color: transparent;
  }
  to {
    text-decoration-color: var(--primary-accent);
  }
}

@keyframes secondary-underline-fade-in{
  from {
    text-decoration-color: transparent;
  }
  to {
    text-decoration-color: var(--secondary-accent);
  }
}

@keyframes label-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

a:hover, a.active {
  text-decoration: underline;
  text-decoration-color: var(--primary-accent);
  text-underline-offset: 2px;
  animation: primary-underline-fade-in var(--underline-fade-duration) ease-in;
}


.secondary-colours a:hover, .secondary-colours a.active {
  text-decoration-color: var(--secondary-accent);
  animation: secondary-underline-fade-in var(--underline-fade-duration) ease-in;
}

.section {
  scroll-margin-top: calc(var(--header-height) + 2rem);
}

.label-fade {
  animation: label-fade-in var(--label-fade-duration) ease-in;
}