@import "tailwindcss";

:root {
  --dark-green: #4F5544;
  --off-white: #F2F1F1;
  --light-green: #00ff00;

  --primary-text: var(--dark-green);
  --secondary-text: rgb(25, 24, 24);

  --primary-background: var(--off-white);
  --secondary-background: var(--dark-green);

  --primary-accent: var(--dark-green);
  --secondary-accent: var(--off-white);

  --primary-highlight: var(--light-green);
  --secondary-highlight: var(--light-green);

  --header-height: 5rem;
  --bottom-page-navigator-height: 1.5rem;
  --bottom-navigation-height: 3rem;

  --underline-fade-duration: 0.15s;
  --label-fade-duration: 0.3s;
}

@media (min-width: 1024px) {
  :root {
    --header-height: 6.5rem;
  }
}

@font-face {
  font-family: 'LuxuriousRoman';
  src: url('/fonts/LuxuriousRoman-Regular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica';
  src: url('/fonts/Helvetica.ttc') format('truetype-collection');
  font-display: swap;
}

html,
body {
  height: 100%;
  color: var(--primary-text);
  background-color: var(--primary-background);
  font-family: 'LuxuriousRoman', serif;
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Helvetica', sans-serif;
  font-weight: normal;
}

img.bordered {
  border: var(--primary-accent) 2mm solid;
}

.font-helvetica {
  font-family: 'Helvetica', sans-serif;
}


@keyframes primary-underline-fade-in {
  from {
    text-decoration-color: transparent;
  }
  to {
    text-decoration-color: var(--primary-accent);
  }
}

@keyframes secondary-underline-fade-in{
  from {
    text-decoration-color: transparent;
  }
  to {
    text-decoration-color: var(--secondary-accent);
  }
}

@keyframes label-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

a:hover, a.active {
  text-decoration: underline;
  text-decoration-color: var(--primary-accent);
  text-underline-offset: 2px;
  animation: primary-underline-fade-in var(--underline-fade-duration) ease-in;
}


.secondary-colours a:hover, .secondary-colours a.active {
  text-decoration-color: var(--secondary-accent);
  animation: secondary-underline-fade-in var(--underline-fade-duration) ease-in;
}

.section {
  scroll-margin-top: calc(var(--header-height) + 2rem);
}

.label-fade {
  animation: label-fade-in var(--label-fade-duration) ease-in;
}