@import "tailwindcss";

:root {
  --dark-green: #4F5B45;
  --off-white: #F1F1F1;

  --primary-text: black;
  --secondary-text: white;

  --primary-background: var(--off-white);
  --secondary-background: var(--dark-green);

  --bottom-page-navigator-height: 1.5rem;
  --bottom-navigation-height: 3rem;
}

@font-face {
  font-family: 'JejuMyeongjo-Regular';
  src: url('https://www.wfonts.com/data/2016/05/04/jejumyeongjo/JejuMyeongjo-Regular.ttf') format('ttf');
  font-display: optional;
}

html,
body {
  height: 100%;
  color: var(--primary-text);
  background-color: var(--primary-background);
  font-family: 'JejuMyeongjo-Regular', serif;
}

a:hover {
  text-decoration: underline;
}